{% extends 'base.html' %}
{% load static %}
 {% block title %}
    Detailed 
 {% endblock title %}
{% block content %}
    <h6 class="heading font-weight-light">Here are the list of contact</h6>
{{status}} {{age}}<p class="d-block font-weight-light my-2 heading"> Current time is {% now 'Y-m-d, H:m:s' %}</p>
 <div class="row">
  {% if contacts %}
  {% for contact in contacts  %}
   {% include 'partials/_card.html' %}
  
  {% endfor %}
 
  {% else %}
  <h3>No contacts in the dictionary</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock content %}